{% extends "layout.html" %}
{%block basecontent%}
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Cash Book</p>
                <div class='parent'>
                    <div class="center">
                    <div class='child inline-block-child'><a href="/login"><button type="button" class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button></a><br></div>
                    <div class='child inline-block-child'><a href="/register"><button type="button" class="btn btn-primary btn-lg"
                        style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button></a><br></div>
                  </div></div>
            </div>
	    <center class="card-body p-md-5">
		<p><b>Team ID: PNT2022TMID03042</b></p>
		<p><b>Batch: </b>B4-4M6E</p>
		<p><b>Team Members: </b></p>
		&#9;<p>Shakthi Dharun - 727720EUIT510</p>
		&#9;<p>Raja Guru J - 727719EUIT123</p>
		&#9;<p>Ranganathan R - 727719EUIT125</p>
		&#9;<p>Vishnu R - 727719EUIT177</p>
		<p><b>Industry Mentor Name: </b>Ms. Kushboo</p>
		<p><b>Faculty Mentor Name: </b>Mr. M Mohammed Mustafa</p>
	    </center>
        </div>
    </div>
</section>
{% endblock basecontent %}