# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\bhaua\OneDrive\Desktop\SEM Stuff KCT\IBM\Personal-Expense-Tracker-ibm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
